footer {
	margin-top: 50px;
	background-color: $color-primary;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: $color-secondary;
	padding-bottom: 20px;
}

.contactanos {
	color: $color-secondary;
	text-transform: uppercase;
	font-size: $medium;
	margin-bottom: 40px;
}
form {
	width: 95%;
	justify-items: center;
	border: 4px solid $color-secondary;
	padding: 10px;

	button {
		@mixin flex ($row, $center, $center) {
		width: 100%;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
}
textarea {
	resize: none;
}
.inputFormAspects {
	&:focus {
		background-color: $label-color;
		font-size: 20px;
		font-weight: bold;
	}
}
.textAreaFormAspects {
	&:focus {
		background-color: $label-color;
		font-size: $small;
		font-weight: $bold;
	}
}
.form-sup {
	display: flex;
	flex-direction: row;
	gap: 2px;
}
.footer-left {
	margin-left: 30px;
	display: grid;
	grid-template-columns: 1fr;
}
.footer-items-left {
	p {
		font-size: $medium;
		border-bottom: 2px solid $color-secondary;
		padding-bottom: 20px;
		width: 70%;
	}
}
#homes {
	background-color: $color-secondary;
	color: $color-primary;
	font-weight: $bold;
}
.footer-center {
	background-color: $color-primary;
	color: $color-secondary;
	padding-top: 10px;
	padding-bottom: 20px;
	p {
		text-align: center;
		font-size: $extrasmall;
	}
}
