.navbar {
	height: 100px;
	font-size: $small2;
}
#navColor {
	background-color: $color-primary;
}
.nav-link {
	padding-left: 9px;
	padding-right: 9px;
}
nav {
	svg {
		margin: 5px;
	}
}
a {
	color: $color-secondary;
	&:hover {
		padding: 4px;
	}
}
.colorNavLink {
	&:hover {
		color: $color-hover;
		font-weight: $bold;
	}
}
