/**COLORES**/
$color-primary: #1b4a6d;
$color-secondary: white;
$label-color: #d2c6b6;
$color-hover: #99c3e4;
$background-secondary-color:gray;

/**FUENTES**/
$font-principal: "Noto Sans Display", sans-serif;
$font-title-principal: "Bebas Neue";
$font-description: "Faustina";

/**TAMAÑO DE FUENTES**/
$large: 40px;
$medium: 28px;
$small: 20px;
$extrasmall: 12px;
$bold: bold;

/**BREAKPOINTS**/
$xs:0px;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px;