@charset "UTF-8";
/*VARIABLES*/
/**COLORES**/
/**FUENTES**/
/**TAMAÑO DE FUENTES**/
/**BREAKPOINTS**/
/*NORMALIZE*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

body {
  font-family: "Noto Sans Display", sans-serif; }

a {
  text-decoration: none;
  color: white;
  font-family: "Noto Sans Display", sans-serif; }

/*BREAKPOINTS*/
/*MIXINS*/
/*NAV*/
.navbar {
  height: 100px;
  font-size: 18px; }

#navColor {
  background-color: #1b4a6d; }

.nav-link {
  padding-left: 9px;
  padding-right: 9px; }

nav svg {
  margin: 5px; }

a {
  color: white; }
  a:hover {
    padding: 4px; }

.colorNavLink:hover {
  color: #99c3e4;
  font-weight: bold; }

/*HEADER*/
.showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2px;
  gap: 2px; }
  .showcase img {
    width: 100%; }

/*HOME*/
.fontMainContainer {
  font-size: 20px; }

h1 {
  color: #1b4a6d;
  font-weight: bold; }

.servicios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  text-align: center;
  margin-top: 60px;
  font-size: 18px;
  color: white;
  gap: 10px; }

.servicios div {
  width: 90%;
  background-color: #1b4a6d;
  border-radius: 6px; }

.servicios p {
  line-height: 1; }

h2 {
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: "Noto Sans Display", sans-serif;
  margin-bottom: 20px; }

h3 {
  color: #1b4a6d;
  font-weight: bold;
  font-size: 40px;
  font-family: "Bebas Neue"; }

h4 {
  color: #1b4a6d;
  font-weight: bold;
  font-size: 40px;
  font-family: "Bebas Neue"; }

.itemCarousel {
  height: 50%;
  font-size: 20px;
  transition: font-size 25; }

.carousel-item:hover {
  font-size: 25px; }

.carouselText {
  text-align: center;
  background-color: gray;
  font-family: "Noto Sans Display", sans-serif;
  text-transform: uppercase;
  font-weight: bold; }

.imgSistemasConstructivos {
  height: 400px; }

.card:hover {
  transform: scale(1.1, 1.1); }

.card-title {
  position: relative;
  margin-top: 250px;
  color: white;
  background-color: gray;
  font-family: "Noto Sans Display", sans-serif;
  text-transform: uppercase;
  font-weight: bold; }

.card-img {
  height: 300px; }

@media screen and (max-width: 992px) {
  nav {
    height: 100% !important;
    width: 100% !important; }
  .navbar {
    font-size: 18px; }
  .fontMainContainer {
    font-size: 18px; }
  .servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
    color: white; }
    .servicios div {
      width: 80%; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 30px; }
  h4 {
    font-size: 30px; } }

@media screen and (min-width: 360px) and (max-width: 576px) {
  nav {
    height: 100% !important;
    width: 100% !important; }
  .navbar {
    font-size: 12px; }
  .showcase {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; }
    .showcase img {
      width: 60%; }
  h1 {
    font-size: small2; }
  .fontMainContainer {
    font-size: 18px; }
  .servicios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
    color: white; }
    .servicios div {
      width: 50%; }
  h2 {
    font-size: 18px; }
  h3 {
    font-size: 25px; }
  h4 {
    font-size: 25px; }
  footer {
    display: grid;
    grid-template-columns: 1fr; }
  .footer-right {
    margin-left: 20px; }
  .footer-left {
    font-size: 12px; }
  .footer-right {
    font-size: 20px; } }

/*FOOTER*/
footer {
  margin-top: 50px;
  background-color: #1b4a6d;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  padding-bottom: 20px; }

.contactanos {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px; }

form {
  width: 95%;
  justify-items: center;
  border: 4px solid white;
  padding: 10px; }
  form button {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px; }

textarea {
  resize: none; }

.inputFormAspects:focus {
  background-color: #d2c6b6;
  font-size: 20px;
  font-weight: bold; }

.textAreaFormAspects:focus {
  background-color: #d2c6b6;
  font-size: 20px;
  font-weight: bold; }

.form-sup {
  display: flex;
  flex-direction: row;
  gap: 2px; }

.footer-left {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr; }

.footer-items-left p {
  font-size: 30px;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
  width: 70%; }

#homes {
  background-color: white;
  color: #1b4a6d;
  font-weight: bold; }

.footer-center {
  background-color: #1b4a6d;
  color: white;
  padding-top: 10px;
  padding-bottom: 20px; }
  .footer-center p {
    text-align: center;
    font-size: 12px; }
