@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: "Noto Sans Display", sans-serif;
}

*{  
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/* ---------------------NAV--------------------- */
.navbar{
    height: 100px;
}

#navColor{
    background-color: #1b4a6d;
}
.nav-link{
   padding-left: 8px;
   padding-right: 8px;
}
a{
    color:white;
}
.colorNavLink:hover{
    color: #99c3e4;
    font-weight: bold;
}

a:hover{
    font-size: large;
    padding: 0;
}

.carousel-inner{
    max-height: 39rem;
}

.imgHeader{
    height: 600px;
    padding: 50px 70px 50px 70px;
}

/*---------------MAIN--------------*/
.fontMainContainer{
    font-size: 20px;
}

h1{
    color: #1b4a6d;
    font-weight: bold;
}

h2{
    font-size: 28px;
    color: #1b4a6d;
    font-weight: bold;
    font-family: "Faustina";
}

h3{
    color: #1b4a6d;
    font-weight: bold;
    font-size: 40px;
    font-family: "Faustina";
}

h4{
    color: #1b4a6d;
    font-weight: bold;
    font-size: 40px;
    font-family: "Faustina";    
}

.carousel-item{
    height: 460px;
    font-size: 20px;
    transition: font-size 25;
}

.carousel-item:hover{
    font-size: 40px;
}

.carouselText{
    text-align: center;
    background-color: grey;
    font-family: "Bebas Neue";
}

.card:hover{
        transform: scale(1.2,1.2);
}

.card-title{
    position: relative;
    margin-top: 250px;
    color: white;
    font-weight: bold;
    background-color:gray;
}

.card-img{
    height: 300px;
}

/*---------------------FOOTER-------------------*/
footer{
    margin-top: 80px;
    background-color: #1b4a6d;
    color: white;
}

#contactFooter{
   font-size: 40px;
   font-family: "Faustina";
}

.inputFormAspects:focus{
    background-color: #d2c6b6;
    font-size: 20px;
    font-weight: bold;
    height: 70px;
}

.textAreaFormAspects:focus{
    background-color: #d2c6b6;
    font-size: 20px;
    font-weight: bold;
    height: 300px;
}

#text-allRigts{
    padding-top: 30px;
    font-size: 12px;
}

svg{
    justify-content: center;
}

@media screen and (max-width:990px){
    nav{
        height: 100%!important;
        width: 100%!important;
     }
    .spanNav{
        display: none;
     }
    .nav-link{
        align-items: center!important;
    }
    .fontMainContainer{
        font-size: 18px!important;
    }
    h2{
        font-size: 20px!important;
    }
    h3{
        font-size: 35px!important;
    }
    h4{
        font-size: 35px!important;
    }
}

 @media screen and (max-width:586px){
    nav{
       height: 100%!important;
       width: 100%!important;
    }
    .spanNav{
        display: none;
     }
    .nav-link{
        align-items: center!important;
    }
    .fontMainContainer{
        font-size: 18px!important;
    }
    h3{
        font-size: 35px!important;
    }
    h4{
        font-size: 35px!important;
    }
}   
